* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a:link,
a:active,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

#header nav {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}

#header h1 {
    color: white;
    text-decoration: none;
}

#header li {
    list-style-type: none;
}