* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a:link,
a:active,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

#header nav {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
}

#header h1 {
    color: white;
    text-decoration: none;
}

#header li {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: flex-end;
}

nav {
    height: 48px;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: inline-block;
    height: 100%;
    width: 10%;
}